<template name="weatherTemplate">

	<div class="container">
		<div class="page-header">
			<h1>Weather</h1>

			<div class="row">
				<div class="col-md-12">

					<h3>Outlook &amp; Moon Phase</h3>

					<iframe style="display: block;" src="//cdnres.willyweather.com.au/widget/loadView.html?id=29730" width="100%" height="520" frameborder="0"  scrolling="no"></iframe>
					<a style="z-index: 1;margin: -20px 0 0 0;height: 20px;text-indent: -9999em;position: relative;display: block"
					   href="http://www.willyweather.com.au/tas/northern/launceston.html">Weather info for Launceston
					</a>

				</div>
			</div>

			<div class="row">

				<div class="col-md-12">

					<h3>BOM Satellite Feed</h3>

					<iframe class="w100 iframe-panel-850" frameborder="none" src="http://satview.bom.gov.au/"></iframe>

					<button class="btn btn-primary w100" type="button" data-toggle="collapse" data-target="#collapseBomSatMeta" aria-expanded="false" aria-controls="collapseExample">
						More info <i class="fa fa-info-circle"></i>
					</button>
					<div class="collapse gauge-meta" id="collapseBomSatMeta">
						<div class="well">
							<p>
								The Bureau’s new satellite viewer uses imagery from Himawari-8—a geostationary
								weather satellite operated by the Japan Meteorological Agency (JMA).
							</p>
							<p>
								The satellite is situated 35 800 km above the equator at longitude 140.7°E
								(above the western Pacific, in line with Papua and central Australia),
								so it provides excellent coverage of the Australian region.
							</p>
							<p>
								Source: <a href="http://www.sws.bom.gov.au/Geophysical/4/2">http://satview.bom.gov.au/about.html</a> (bloody legends)
							</p>
						</div>
					</div>

				</div>

			</div>
			<div class="row">

				<div class="col-md-12">

					<h3>Aurora Patrol Camera: Tasmania</h3>

					<video loop muted controls class="w100">
						<source src="http://www.sws.bom.gov.au/Images/Geophysical/Aurora/Aurora%20Patrol%20Camera/AllSkyVideo.ogv" type="video/ogg">
						<source src="http://www.sws.bom.gov.au/Images/Geophysical/Aurora/Aurora%20Patrol%20Camera/AllSkyVideo.mp4" type="video/mp4">
					</video>

					<button class="btn btn-primary w100" type="button" data-toggle="collapse" data-target="#collapsePatrolCamMeta" aria-expanded="false" aria-controls="collapseExample">
						More info <i class="fa fa-info-circle"></i>
					</button>
					<div class="collapse gauge-meta" id="collapsePatrolCamMeta">
						<div class="well">
							<p>
								An all-sky aurora patrol CCD camera located at Cressy, Tasmania provides aurora
								watchers with real-time guidance on whether auroras are visible from Tasmania.
							</p>
							<p>
								The date (yyyy/mm/dd), time (hh:mm:ss) and exposure time (seconds) are shown in the
								top left corner of the images. The images are orientated with South to the right and East at bottom.
							</p>
							<p>
								You can see a list of the latest still
								<a href="http://www.sws.bom.gov.au/Images/Geophysical/Aurora/Aurora%20Patrol%20Camera/10day/" target="_blank">
									images here.
								</a>
							</p>
							<p>
								Source: <a href="http://www.sws.bom.gov.au/Geophysical/4/2">http://www.sws.bom.gov.au/Geophysical/4/2</a>
							</p>
						</div>
					</div>

				</div>


			</div>

			<div class="row">
				<div class="col-md-12">

					<h3>Light Pollution</h3>

					<div class="alert alert-info" role="alert">
							See the <a href="{{pathFor 'mapTemplate'}}">Maps</a>
							page for light pollution map.
					</div>

				</div>
			</div>


		</div>
	</div>

</template>