<template name="rawTemplate">

	<div class="container">
		<div class="page-header">
			<h1>Raw Data Feeds</h1>

			<p>We might just have a select box with a bunch of feeds to select from:</p>

			<div class="form-group">
				<select class="form-control">
					<option> -- Select Feed -- </option>
					<option> ACE Solar Wind </option>
					<option> DSCOVR Solar Wind </option>
					<option> 3 Day forecast </option>
					<option> etc. etc. </option>
				</select>
			</div>

		</div>
	</div>

</template>