<template name="chartsTemplate">

	<div class="container">
		<div class="page-header">

			<h1>
				ACE/DSCOVR Realtime Data
				<div class="reliable-tag grey-bg" data-toggle="tooltip"
					 title="Of all the data sources available, this real-time data gives us the most
				  accurate understanding of potential auroral activity">
					<i class="fa fa-star"></i> Accurate Data
				</div>
			</h1>

			{{>chartsMoreInfoTemplate}}

			{{>chartsSolarWindTemplate}}

			{{>chartsForecastsTemplate}}

			{{>chartsCmeTemplate}}

		</div>
	</div>

	{{>timeTemplate}}

</template>