<template name="chartsCmeTemplate">

	<h1>
		Coronal Mass Ejections (CME's)
		<div class="reliable-tag grey-bg" data-toggle="tooltip"
			 title="CME's are the first in a long chain of events we need to happen for an aurora.
			 As CME's are the most distant event in the chain, they are carry the highest level of uncertainty">
			<i class="fa fa-star-o"></i> Long-shot Data
		</div>
	</h1>

	<p>
		CME's are what cause an aurora. When a CME is detected on the sun, we typically have between 1-5 days till
		it hits Earth (<em>if</em> it hits Earth at all).
	</p>
	<p>
		The prominent space weather authorities seldom agree on an arrival time, much less get it accurately correct.
		Nethertheless; CME's are the precursor to an Aurora, so if you are on the hunt - it's good tactic to keep an
		ear/eye out for CME's, and then attempt to hone in on the event as it unfolds.
	</p>
	<p>
		Source: <a href="http://www.swpc.noaa.gov/products/wsa-enlil-solar-wind-prediction" target="_blank">
		http://www.swpc.noaa.gov/products/wsa-enlil-solar-wind-prediction
	</a>
	</p>

	<div class="row">
		<div class="col-md-12">
			<h3>ENLIL</h3>

			<div class="animated-image-panel" data-target-config="enlil" data-max="150" data-url-prefix="">
				<img src="/images/charts/enlil.jpg"
					 class="img-responsive img-rounded center-block"
					 alt="NOAA DSCOVR Satellite Credit: NOAA"
					 title="NOAA DSCOVR Satellite Credit: NOAA"
				/>
				<div class="control-panel">
					<i class="fa fa-play"></i>
					<div class="load-progress">Load for live data</div>
				</div>
				<div class="animation" id="enlil-animation"></div>
			</div>

			<button class="btn btn-primary w100" type="button" data-toggle="collapse" data-target="#collapseEnilMeta" aria-expanded="false" aria-controls="collapseExample">
				More info <i class="fa fa-info-circle"></i>
			</button>
			<div class="collapse gauge-meta" id="collapseEnilMeta">
				<div class="well">
					<p>
						This shows the forecasted spread, density and velocity of CME's over the next few days.
					</p>
					<p>
						On the left-hand-side the yellow circle in the center is of course the Sun, and Earth
						is shown as the green circle to the right of the Sun.<br/>
						On the right-hand-side we see predicted Plasma Density (cm3) and Velocity plotted over time (UTC Date).
					</p>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h3>LASCO C2</h3>

			<div class="animated-image-panel" data-target-config="lasco-c2" data-max="150" data-url-prefix="">
				<img src="/images/charts/lasco-c2.jpg"
					 class="img-responsive img-rounded center-block"
					 alt="NOAA DSCOVR Satellite Credit: NOAA"
					 title="NOAA DSCOVR Satellite Credit: NOAA"
				/>
				<div class="control-panel">
					<i class="fa fa-play"></i>
					<div class="load-progress">Load for live data</div>
				</div>
				<div class="animation" id="lasco-c2-animation"></div>
			</div>

			<button class="btn btn-primary w100" type="button" data-toggle="collapse" data-target="#collapseLascoC2Meta" aria-expanded="false" aria-controls="collapseExample">
				More info <i class="fa fa-info-circle"></i>
			</button>
			<div class="collapse gauge-meta" id="collapseLascoC2Meta">
				<div class="well">
					<p>
						The Large Angle and Spectrometric Coronagraph (LASCO) is one of a number of
						instruments aboard the Solar and Heliospheric Observatory satellite (SOHO).
						LASCO consists of three solar coronagraphs with nested fields of view
					</p>
					<p>
						Source: <a href="http://www.swpc.noaa.gov/products/lasco-coronagraph" target="_blank">
						http://www.swpc.noaa.gov/products/lasco-coronagraph</a>
					</p>
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<h3>LASCO C3</h3>

			<div class="animated-image-panel" data-target-config="lasco-c3" data-max="150" data-url-prefix="">
				<img src="/images/charts/lasco-c3.jpg"
					 class="img-responsive img-rounded center-block"
					 alt="NOAA DSCOVR Satellite Credit: NOAA"
					 title="NOAA DSCOVR Satellite Credit: NOAA"
				/>
				<div class="control-panel">
					<i class="fa fa-play"></i>
					<div class="load-progress">Load for live data</div>
				</div>
				<div class="animation" id="lasco-c3-animation"></div>
			</div>

			<button class="btn btn-primary w100" type="button" data-toggle="collapse" data-target="#collapseLascoC3Meta" aria-expanded="false" aria-controls="collapseExample">
				More info <i class="fa fa-info-circle"></i>
			</button>
			<div class="collapse gauge-meta" id="collapseLascoC3Meta">
				<div class="well">
					<p>
						The Large Angle and Spectrometric Coronagraph (LASCO) is one of a number of
						instruments aboard the Solar and Heliospheric Observatory satellite (SOHO).
						LASCO consists of three solar coronagraphs with nested fields of view
					</p>
					<p>
						Source: <a href="http://www.swpc.noaa.gov/products/lasco-coronagraph" target="_blank">
						http://www.swpc.noaa.gov/products/lasco-coronagraph
					</a>
					</p>
				</div>
			</div>

		</div>
	</div>


</template>