<template name="chartsLocalTemplate">

	<h1>
		Local Data
		<div class="reliable-tag grey-bg" data-toggle="tooltip"
			 title="This data is recorded locally in Tasmania, and updated every 15 minutes.">
			<i class="fa fa-star"></i> Local Data
		</div>
	</h1>
	<p>
		The K-index is a much more accurate indication of potential localised auroral activity than the <em>Kp-Index</em>
		which a planetary average - which by definition is not only less accurate for localised activity, it is
		also Biased to the northern hemisphere due the higher number of magnetometers.
	</p>
	<p>
		K-Index is an excellent indicator of disturbances in the Earth's magnetic field and is used by BOM, and SWPC
		to decide whether geomagnetic alerts and warnings need to be issued for users who are affected by these disturbances.
	</p>
	<p>
		Source: <a href="http://www.sws.bom.gov.au/Geophysical" target="_blank">
		http://www.sws.bom.gov.au/Geophysical
	</a>
	</p>


	<div class="row">

		<div class="col-md-6">
			<h3>Launceston Magnetometer</h3>
			<a href="http://www.sws.bom.gov.au/Images/Geophysical/Latest%20Conditions/Indices/K-Index/Launceston.gif" target="_blank">
				<img src="http://www.sws.bom.gov.au/Images/Geophysical/Latest%20Conditions/Indices/K-Index/Launceston.gif"
					 class="img-responsive img-rounded center-block h100" />
			</a>
		</div>

		<div class="col-md-6">
			<h3>Hobart Magnetometer</h3>
			<a href="http://www.sws.bom.gov.au/Images/Geophysical/Latest%20Conditions/Indices/K-Index/Hobart.gif" target="_blank">
				<img src="http://www.sws.bom.gov.au/Images/Geophysical/Latest%20Conditions/Indices/K-Index/Hobart.gif"
					 class="img-responsive img-rounded center-block h100" />
			</a>
		</div>

	</div>

</template>