#solar-wind-chart-panel {
    padding: 20px 0px;
}

.gauge-offline {
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0px;
}

.animated-image-panel .control-panel {
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 37%;
    cursor: pointer;
    width: 100%;
}

.animated-image-panel .control-panel i.fa {
    font-size: 120px;
    color: #fff;
}

.animated-image-panel .control-panel .animation img {
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.animated-image-panel .control-panel .load-progress {
    color: #FFF;
    font-size: 24px;
}