/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

body > .container {
    padding: 60px 0px 190px 0px;
}

.navbar-toggle {
    padding: 9px 7px;
    margin-right: -5px;
}


/*----------------------------------- COLORS / FONTS -----------------*/

.yellow {
    color: #FF9900;
}

.yellow-bg {
    color: #FF9900;
}

.red {
    color: #d9534f;
}

.red-bg {
    color: #d9534f;
}

.green-bg {
    background: #4cae4c;
}

.grey-bg {
    background: #999;
}

h1 {
    margin-top: 60px;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 5px;
}

p {
    margin: 20px 0px;
}

code {
    font-size: 80%;
}

/*----------------------------------- LAYOUT -----------------*/

.btn {
    margin: 10px 0px;
}

.btn-inline {
    margin: 0px;
}

.row {
    margin: 30px 0px;
}

.container .text-muted {
    margin: 20px 0;
}

.navbar-nav {
    float: right;
}

.navbar-brand img {
    display: inline-block;
    max-height: 25px;
    margin-right: 10px;
}

.page-header {
    position: relative;
    border: none;
}

.well {
    margin-top: 10px;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.iframe-panel {
    width: 100%;
    height: 650px;
    border: 2px solid #f2f2f2;
}

.iframe-panel-850 {
    width: 100%;
    height: 850px;
    border: 2px solid #f2f2f2;
}


/*small*/
@media only screen and (max-width:768px) {

    body > div.container {
        padding: 0px 10px;
        margin-top: 50px;
    }

    .navbar {
        padding: 0px 15px;
    }

    .navbar-nav {
        width: 100%;
        float: left;
    }

    .nav > li {
        width: 100%;
        margin-left: 15px;
    }

    #map {
        /*height: 250px;*/
    }

    h1 {
        font-size: 28px;
        text-align: center;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }

    .btn {
        width: 100%;
        margin: 10px 0px;
    }

    .reliable-tag {
        display: block;
        position: relative;
        opacity: 0.4;
        float: none;
    }
    .animated-image-panel .control-panel {
        /*top: 130px;*/
    }

    .animated-image-panel .control-panel i.fa {
        font-size: 80px;
    }

    .iframe-panel-850 {
        height: 500px;
    }

    #map-toggle {
        bottom: 10px;
    }

    #map-toggle .btn {
        width: 31%;
        margin: 0px;
        font-size: 12px;
    }

    .leaflet-bottom {
        display: none;
    }

    #iss-loading {
        bottom: 100px;
    }
}
